h1, a,li {
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
    color: white;
}
ul {
    list-style-type: none;
}
.container {
	padding-top: 35px;
	padding-right: 300px;
	padding-left: 30px;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}